* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

.container {
    width: 60vw;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100vw;
    }
}