@keyframes slide {
    20% {margin-left: 0;}
    30% {margin-left: -100vw;}
    50% {margin-left: -100vw;}
    60% {margin-left: -200vw;}
    70% {margin-left: -200vw;}
    80% {margin-left: 0;}
    90% {margin-left: 0;}
}