.header {
    // width: 100%;

    &__navigation {
        background-color: $color-yellow;
        transition: all .3s;
        overflow: hidden;
        // height: 0;

        @include clearfix;

        &--left {
            display: block;
            float: left;
        }

        &--right {
            display: block;
            float: right;
        }

        &__item {
            float: left;
            list-style: none;
            text-align: center;
            // opacity: 0;

            a {
                &:link, &:visited {
                    display: block;
                    padding: 1.2rem 1.7rem;
                    // padding-top: 1.2rem;
                    text-transform: uppercase;
                    color: $color-black;
                    text-decoration: none;
                    transition: all .3s;
                    font-weight: 400;
                }

                &:hover, &:active {
                    background-color: $color-yellow-dark;
                    color: $color-yellow;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .header {
        .container {
            width: 100vw;
        }

        &__navigation {
            &__item {
                width: 100%;
            }

            &--left {
                float: none;
            }

            &--right {
                float: none;
            }
        }
    }
}