.section {
    &__1 {
        .slideshow {
            overflow: hidden;
            width: 100vw;
            max-width: 100%;
            margin-top: 8.7rem;
        }

        .slide-wrapper {
            width: 300vw;
            -webkit-animation: slide 18s ease infinite;
            animation: slide 18s ease infinite;
        }

        .slide {
            float: left;
            width: 100vw;
        }

        img {
            width: 100%;
            min-height: 18rem;
            object-fit: cover;
        }
    }
}

@media (max-width: 640px) {
    .section {
        &__1 {
            .slideshow {
                margin-top: 4.6rem;
            }
        }
    }
}