.section {
    &__2 {
        margin-top: 3rem;
    }

    &__cycles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__item {
            display: block;
            margin: 0 .5rem;

            img {
                
            }

            p {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}