.section {
    &__3 {

        &__flex {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            grid-gap: 1.5rem;
        }
        
        background-color: $color-grey-bg;
        padding: 2rem 0;
        margin-top: 4rem;
        // min-width: 10rem;

        &--left {
            img {
                width: 100%;
            }
        }

        &--right {
            // max-width: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 1rem;

            div {
                &:first-child p:not(:last-child) {
                    margin-bottom: 1rem;
                }

                h3 {
                    margin-bottom: 1rem;
                }
            }
            // max-width: 50rem;
            // height: 100%;

            // p {
            //     margin: 1rem 0;
            // }

            // h3:not(:first-child) {
            //     margin-top: 2rem;
            // }
        }
    }
}

@media (max-width: 500px) {
    .section {
        &__3 {
            padding: 0;
            padding-bottom: 1rem;
        }
    }
}